/* .banner {
  width: 100vw;
} */
.banner-img-mobile {
  width: 100%;
}
.banner-img-desktop {
  display: none;
}
@media screen and (min-width: 1024px) {
  .banner-img-mobile {
    display: none;
  }
  .banner-img-desktop {
    display: block;
    width: 100%;
  }
}
