.container-menu-body {
  text-align: center;
  margin: 4rem 0;
}
.container-dishes {
  display: grid;
  grid-template-columns: 1fr;
  margin: 4rem 1rem;
  row-gap: 5rem;
  column-gap: 2rem;
}
.container-dish {
  padding: 2.75rem 1.25rem;
  border: 2px solid #4a4a4a;
  text-align: center;
}
.dish-img {
  max-width: 18.75rem;
}
.container-dish-name {
  margin: 1rem 0;
  text-align: center;
}
.container-decor {
  display: flex;
  align-items: center;
  width: 100%;
}
.container-lines {
  width: 100%;
}
.container-lines hr {
  margin: 0.25rem;
}
.container-dish-price {
  margin-bottom: 1rem;
}
.container-dish-desc {
  margin: 1rem 0;
  text-align: start;
}
@media screen and (min-width: 768px) {
  .container-dishes {
    max-width: 25rem;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1024px) {
  .container-dishes {
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr 1fr;
    max-width: 57rem;
  }
}
@media screen and (min-width: 1200px) {
  .container-dishes {
    max-width: 65rem;
  }
}
